@import url("../common/fonts/fonts.css");
@import url("../common/reset.css");

.email header
{
  height: 80px;
  position: relative;
}
.email header .circle
{
  left: 152px;
  width: 72px;
  height: 72px;
  border-radius: 40px;
  border: 4px solid #fff;
  box-shadow: 0 0 0px 2px #000 inset;
  position: absolute;
  background: #fff url("images/emailIcon.png") center center no-repeat;
}
.email header .divider
{
  position: absolute;
  top: 36px;
  width: 100%;
  height: 8px;
  background: url("../common/images/diagonalPattern.png");
}
.email .body .meta
{
  font-family: "robotoregular", sans-serif;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 10px 0;
  text-align: center;
}
.email .body .meta span.field
{
  font-family: "robotoregular", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 10px 0 0;
  display: block;
}
.email .body .body
{
  font-family: "robotolight", sans-serif;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  padding: 16px 0 36px 0;
  background: url("../common/images/diagonalPattern.png") left bottom repeat-x;
}
